@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Budget Control</title>

    <link href="css/budget.css" rel="stylesheet" />
</head>
<body>
    @Body
</body>
</html>