<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<base href="/" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" type="image/png" href="favicon.png" />

		<!-- Bootstrap -->
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

		<!-- App styles -->
		<link rel="stylesheet" href="app.css" />
		<link rel="stylesheet" href="BudgetControl.Web.styles.css" />

		<HeadOutlet />
	</head>
	<body>
		<Routes />

		<ReconnectModal />

		<!-- Blazor Server -->
		<script src="_framework/blazor.server.js"></script>
	</body>
</html>
